
textarea {
  width: 400px;
  height: 150px;
}

.check-img {
  width:20px;
  height:auto;
  margin-right: 5px;
  vertical-align: middle;
}

.vote-img {
  width: 60px;
  height: auto;
}

.response-info {
  border-bottom: 1px solid black;
  margin-bottom: 15px;
}

.response-info button, .post-response-button {
  margin-left: 10px;
  border-radius:15px;
  background-color:antiquewhite;
}
