nav ul a,
nav .brand-logo {
  color: #444;
}

.button-collapse {
  color: #444;
}

.comment-section li {
  margin-left: 70px;
}

form,
h3 {
  display: inline-block;
  margin-right: 20px;
}

#logo-container img {
  width: 43px;
  height: 43px;
  display: inline;
}

#logo-container {
}


textarea {
  width: 400px;
  height: 150px;
}

.check-img {
  width:20px;
  height:auto;
  margin-right: 5px;
  vertical-align: middle;
}

.vote-img {
  width: 60px;
  height: auto;
}

.response-info {
  border-bottom: 1px solid black;
  margin-bottom: 15px;
}

.response-info button, .post-response-button {
  margin-left: 10px;
  border-radius:15px;
  background-color:antiquewhite;
}
