<form action = "/users" method = "post">
  <input placeholder = "Enter a username" type = "text" name ="user[username]" >
  <input placeholder = "Enter a password" type = "password" name = "user[password]">
  <input type = "submit" value = "Register">
</form>
