<div class="register">
<h2>Register for StackOBooks</h2>
<form action = "/users" method = "post">
  <fieldset class="form-group">
  <input class="form-control" placeholder = "Enter a username" type = "text" name ="user[username]" >
</fieldset>
  <fieldset class="form-group">
  <input class="form-control" placeholder = "Enter a password" type = "password" name = "user[password]">
</fieldset>
  <input type = "submit" value = "Register" class="btn btn-secondary">
</form>
<br>

  <% if @errors %>
    <div class="errors-wrapper">
      <span>Your entry could not be saved:</span>
      <ul class="errors">
        <% @errors.each do |error| %>
          <li class="error"><%= error %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>
