<div class="container">
  <h4><%= @user.username %></h4>

  <h5>Posts:</h5>
  <%= erb :'posts/index' %>

  <h5>Responses:</h5>
  <% @user.responses.each do |response| %>
  <a href="/posts/<%= response.post_id %>"><%= response.id %></a>
  <% end %>
</div>
