<form action = "/posts/<%= @post.id %>" method = "post">
  <input placeholder = "Post title" type = "text" name ="post[title]" value="<%= @post.title %>">
  <input placeholder = "Post body" type = "text" name = "post[body]" value="<%= @post.body %>">
  <input type="hidden" name="_method" value="put">
  <input type = "submit" value = "Submit post">
</form>
<br>
