<div class="container">
<form action = "/posts" method = "post">
  <input placeholder = "Post title" type = "text" name ="post[title]" >
  <textarea name = "post[body]"></textarea>
  <br>
  <input type = "submit" value = "Submit post">
</form>
</div>
