<div class="new-post">
<h2>Create a new post</h2>
<form action = "/posts" method = "post">
  <fieldset class="form-group">
  <input class="form-control" placeholder = "Enter your post's title" type = "text" name ="post[title]">
</fieldset>
  <fieldset class="form-group">
  <textarea class="form-control" placeholder = "Enter your post's content" type = "text" rows=10 name = "post[body]"></textarea>
</fieldset>
  <input type = "submit" value = "Submit post" class="btn btn-secondary">
</form>
</div>