<form action = "/posts" method = "post">
  <input placeholder = "Post title" type = "text" name ="post[title]" >
  <input placeholder = "Post body" type = "text" name = "post[body]">
  <input type = "submit" value = "Submit post">
</form>
<br>
