<form action = "/login" method = "post">
  <input placeholder = "Enter your username" type = "text" name ="username" >
  <input placeholder = "Enter your password" type = "password" name = "password">
  <input type = "submit" value = "Login">
</form>
