<article>
  <div id="<%= @post.id %>">
    <h3><%= @post.title %></h3>
    <p><%= @post.body %></p>
  </div>

  <div class="comment-section">
    <h4>Comments:</h4>

      <% if @post.responses.length > 0 %>

        <% @post.responses.each do |response| %>
          <%= erb :"_comment_detail", locals: { response: response }%>
        <% end %>

      <% end %>
  </div>

</article>
